.planPage {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "col1 col2 col3";
    grid-gap: 3px;
  }

.planPageCol1 {
    grid-area: col1;
}

.planPageCol2 {
    grid-area: col2;
}

.planPageCol3 {
  grid-area: col3;
}
