.exerciseSearch {
  display: grid;
  height: 90vh;
  max-height: 90vh;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 2fr;
  grid-template-areas:
    "header"
    "subheader"
    "body"
    "footer";
  grid-gap: 3px;
}

.exerciseSearchHeader {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exerciseSearchSubHeader {
  grid-area: subheader;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exerciseSearchBody {
  grid-area: body;
  display: flex;
  flex-direction: row;  
  gap: 1vh;
}

.exerciseSearchBodySearch {
  display: flex;
  flex-direction: column;  
}

.exerciseSearchBodyButtons {
  display: flex;
  flex-direction: row;  
  gap: 2vh;
  margin-top: 10%;
  margin-bottom: 10%;
}

.exerciseSearchFooter {
  grid-area: footer;
  overflow: auto;
}