.exerciseSearch {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  grid-template-areas:
    "header"
    "subheader"
    "body"
    "body2"
    "footer";
  grid-gap: 3px;
}

.exerciseSearchHeader {
  grid-area: header;
}

.exerciseSearchSubHeader {
  grid-area: subheader;
}

.exerciseSearchBody {
  grid-area: body;
}

.exerciseSearchBody2 {
  grid-area: body2;
}

.exerciseSearchFooter {
  grid-area: footer;
  overflow: auto;
}