.spinnerBody{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "text text"
        "leftbtn rightbtn";
}

.spinnerText{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spinnerLeftBtn{
    grid-area: leftbtn;
}

.spinnerRightBtn{
    grid-area: rightbtn;
}