.exercisePlan {
    display: grid;
    height: 90vh;
    max-height: 90vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
      "header" 
      "body"
      "footer";
    grid-gap: 3px;
  }
  
  .exerciseAddHeader {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .exerciseAddBody{
    grid-area: body;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
  }

  .exerciseAddFooter{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }