.exerciseAdd {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.5fr 3fr 1fr;
  grid-template-areas:
    "header" 
    "subheader"
    "description"
    "body"
    "footer";
  grid-gap: 3px;
}

.exerciseAddHeader {
  grid-area: header;
}

.exerciseAddSubHeader{
  grid-area: subheader;
}

.exerciseAddDescription{
  grid-area: description;
}

.exerciseAddBody {
  grid-area: body;
  display: flex;
}

.exerciseAddFooter {
  grid-area: footer;
  display: flex;
}
