.metricspage {
    display: grid;
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    max-width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "col1 col2";
    grid-gap: 3px;
}

.metricspagecol1 {
    grid-area: col1;
    margin-right: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
}

.metricspagecol2 {
    grid-area: col2;
    margin-left: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hideChart {
    display: none;
}

.showChart {
    display: block;
}