.metricspage {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "col1 col2";
    grid-gap: 3px;
}

.metricspagecol1 {
    grid-area: col1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
}

.metricspagecol2 {
    grid-area: col2;
}

.hideChart {
    display: none;
}

.showChart {
    display: block;
}