.calendar {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
        "sidepanel header" 
        "sidepanel body";
    grid-gap: 3px;
}

.calendarSidePanel {
    grid-area: sidepanel;
    align-items: center;
    text-align: center;
}
  
.calendarHeader {
    grid-area: header;
    background-color: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
}

.calendarBody {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hidden{
    visibility: hidden;
}