.addNewWorkout {
    display: grid;
    height: 60vh;
    max-height: 60vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "info routines";
    grid-gap: 3px;
}

.addNewWorkoutInfo {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 25px;
    padding-right: 25px;
    margin-top: 5%;
}

.addNewWorkoutRoutines {
    grid-area: routines;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5%;
    overflow: auto;
}

.viewWorkout {
    display: grid;
    height: 60vh;
    max-height: 60vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "plans routinesTitle"
        "plans routinesBody";
    grid-gap: 3px;
}

.viewWorkoutPlans {
    grid-area: plans;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.viewWorkoutRoutinesTitle {
    grid-area: routinesTitle;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 5%;
    justify-content: center;
}

.viewWorkoutRoutinesBody {
    grid-area: routinesBody;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.viewWorkoutRoutinesBodyItem {
    margin-top: 5%;
}